@using static Veelki.Core.ServiceHelper.CommonFun;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Veelki.Admin</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/assets/css/style.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="top">
        <div class="header">
            <h1><a href="/agent/index.jsp">SKYEXCHANGE</a></h1>
            <!-- <img src="images/download-page-logo.png" alt=""> -->

            <ul class="account-wrap">
                <li>
                    @{
                        if (ViewBag.LoginUser.RoleId == 2)
                        {
                            <span>
                                SA
                            </span>
                        }
                        else if (ViewBag.LoginUser.RoleId == 3)
                        {
                            <span>
                                AD
                            </span>
                        }
                        else if (ViewBag.LoginUser.RoleId == 4)
                        {
                            <span>
                                SUA
                            </span>
                        }
                        else if (ViewBag.LoginUser.RoleId == 5)
                        {
                            <span>
                                SUM
                            </span>
                        }
                        else if (ViewBag.LoginUser.RoleId == 6)
                        {
                            <span>
                                MA
                            </span>
                        }
                    }

                    <strong>@ViewBag.LoginUser.FullName</strong>
                </li>
                <!-- single balance 加 no-multi -->
                @if (ViewBag.LoginUser.RoleId != 2)
                {
                    <li class="main-wallet no-multi">
                        <!-- 加open打開-->
                        <a href="#multi-balance_pop" class="a-wallet">
                            <ul>
                                <li>
                                    <span>Main</span>
                                    <strong id="mainBalance">PBU @ViewBag.openingBal</strong>
                                </li>
                            </ul>
                            <p class="loading-bar" id="menuRefreshLoading" style="display: none;">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </p>
                        </a>

                        <a id="topRefresh" class="a-refresh" style="cursor: pointer"><img src="https://statics3.skyexch.bike/images/transparent.gif"></a>
                    </li>

                }
            </ul>
        </div>

        <!-- Menu Wrap -->
        <div class="menu-wrap">
            <div class="main_wrap">
                <ul class="menu">

                    <li>
                        @if (ViewBag.LoginUser.RoleId == 6)
                        {
                            if (ViewBag.HeaderItem == HeaderItem.DownlineList || ViewBag.HeaderItem == HeaderItem.DownlineListDownPage)
                            {
                                <a id="menu_my_report" class="select" href="@Url.Action("Index", "Home", new { SubMenuRoleId = 6 })">
                                    Downline List
                                </a>
                            }
                            else
                            {
                                <a id="menu_my_report" class="" href="@Url.Action("Index", "Home", new { SubMenuRoleId = 6 })">
                                    Downline List
                                </a>
                            }
                        }
                        else
                        {
                            if (ViewBag.HeaderItem == HeaderItem.DownlineList || ViewBag.HeaderItem == HeaderItem.DownlineListDownPage)
                            {
                                <a id="menu_my_report" class="menu-drop select" href="#">
                                    Downline List
                                </a>
                            }
                            else
                            {
                                <a id="menu_my_report" class="menu-drop" href="#">
                                    Downline List
                                </a>
                            }
                        }

                        @if (ViewBag.LoginUser.RoleId == 2)
                        {
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Home", new { SubMenuRoleId = 3 })">
                                        Admin
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Home", new { SubMenuRoleId = 4 })">
                                        Sub Admin
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Home", new { SubMenuRoleId = 5 })">
                                        Super Master
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Home", new { SubMenuRoleId = 6 })">
                                        Master
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Home", new { SubMenuRoleId = 7 })">
                                        User
                                    </a>
                                </li>
                            </ul>
                        }

                        @if (ViewBag.LoginUser.RoleId == 3)
                        {
                            <ul>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Sub Admin
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Super Master
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Master
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        User
                                    </a>
                                </li>
                            </ul>
                        }

                        @if (ViewBag.LoginUser.RoleId == 4)
                        {
                            <ul>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Super Master
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Master
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        User
                                    </a>
                                </li>
                            </ul>
                        }

                        @if (ViewBag.LoginUser.RoleId == 5)
                        {
                            <ul>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Master
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        User
                                    </a>
                                </li>
                            </ul>
                        }

                    </li>


                    @*<li>
            @if (ViewBag.HeaderItem == HeaderItem.DownlineList)
            {
                <a id="menu_downline_list" class="select" href="~/Home/Index">
                    Downline List
                </a>
            }
            else
            {
                <a id="menu_downline_list" class="" href="~/Home/Index">
                    Downline List
                </a>
            }
            @if (ViewBag.LoginUser.RoleId == 2)
            {
                <ul>
                    <li>
                        <a href="~/Report/ProfitReportByDownline">
                            Admin
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Sub Admin
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Super Master
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Master
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            User
                        </a>
                    </li>
                </ul>
            }
            else if (ViewBag.LoginUser.RoleId == 3)
            {
                <ul>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Sub Admin
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Super Master
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Master
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            User
                        </a>
                    </li>
                </ul>
            }
            else if (ViewBag.LoginUser.RoleId == 4)
            {
                <ul>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Super Master
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Master
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            User
                        </a>
                    </li>
                </ul>
            }
            else if (ViewBag.LoginUser.RoleId == 5)
            {
                <ul>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            Master
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/ProfitReportByMarket">
                            User
                        </a>
                    </li>
                </ul>
            }
            else if (ViewBag.LoginUser.RoleId == 6)
            {

            }
        </li>*@
                    <li>
                        @if (ViewBag.HeaderItem == HeaderItem.MyAccount)
                        {
                            <a id="menu_my_account" class="select" href="~/Account/MyAccount">
                                My Account
                            </a>
                        }
                        else
                        {
                            <a id="menu_my_account" class="" href="~/Account/MyAccount">
                                My Account
                            </a>
                        }
                    </li>
                    @if (ViewBag.LoginUser.RoleId == 2)
                    {
                        <li>
                            <a id="menu_market_watch" class="" href="~/Account/MyAccount">
                                Market Watch
                            </a>
                        </li>
                    }

                    <li>
                        <a id="menu_my_report" class="menu-drop" href="#">
                            My Report
                        </a>
                        <ul>
                            <li>
                                <a href="~/Report/ProfitReportByDownline">
                                    Profit/Loss Report by Downline
                                </a>
                            </li>
                            <li>
                                <a href="~/Report/ProfitReportByMarket">
                                    Profit/Loss Report by Market
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a id="menu_bet_list" class="" href="~/Report/BetList">
                            BetList
                        </a>
                    </li>
                    <li>
                        <a id="menu_risk_management" class="" href="~/Report/RiskManagement">
                            Risk Management
                        </a>
                    </li>
                    <li>
                        <a id="menu_banking" class="" href="~/Account/Banking">
                            Banking
                        </a>
                    </li>
                    @if (ViewBag.LoginUser.RoleId == 2)
                    {
                        <li>
                            <a id="menu_settings" class="menu-drop" href="#">
                                Settings
                            </a>
                            <ul>
                                <li>
                                    <a href="~/Setting/SportsSetting">
                                        Sport Setting
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Series Setting
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Match Setting
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu_other_settings" class="menu-drop" href="#">
                                Masters
                            </a>
                            <ul>
                                <li>
                                    <a href="~/Report/ProfitReportByDownline">
                                        Logo Master
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        News Master
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Banner Master
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Report/ProfitReportByMarket">
                                        Slider Master
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @if (ViewBag.HeaderItem == HeaderItem.ActivityLog)
                            {
                                <a id="menu_activity_log" class="select" href="~/Account/ActivityLog">
                                    Activity Log
                                </a>
                            }
                            else
                            {
                                <a id="menu_activity_log" class="" href="~/Account/ActivityLog">
                                    Activity Log
                                </a>
                            }

                        </li>
                    }
                    <li class="logout">
                        <a id="logout" href="~/Account/Logout" style=" align-items: center; display: inline-flex;">Logout<img src="https://statics3.skyexch.bike/images/transparent.gif"></a>
                    </li>
                    <li class="time_zone"><span>Time Zone :</span> GMT+5:30</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Veelki.Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/assets/vendors/js/vendors.min.js"></script>
    <script src="~/assets/vendors/js/extensions/moment.min.js"></script>
    <script src="~/assets/js/core/app-menu.js"></script>
    <script src="~/assets/js/core/app.js"></script>
    <script src="~/assets/js/scripts/pages/app-invoice-list.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("PageJs", false)

    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
</body>
</html>