@model Veelki.Models.Model.RegisterListVM;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roleId = ViewBag.roleIdBass;
}

@Html.HiddenFor(x => x.LoginUserRole)

<div style="display: none"><input type="password" autocomplete="new-password"></div>
<!-- Add Member pop start -->




<form id="request-form" autocomplete="off" class="" method="post">
    <div id="createModal" class="pop_bg" style="display:none">
        <div class="pop_box ">
            <a class="close_pop" href="#" onclick="CloseDialog()">close_pop</a>
            <!-- message -->
            <div id="message" class="message-wrap success" style="display:none">
                <a class="btn-close" href="#">Close</a>
                <p></p>
            </div>
            <h3>
                @ViewBag.AddButtonName
            </h3>
            <ul class="half_box add-member-box">
                <li class="add_account_box">
                    <dl class="border_b">
                        @*<dt>
                                E-mail
                            </dt>*@
                        <dd>
                            <input type="hidden" class="form-control" id="idModel">
                            <input type="text" asp-for="RoleId" value="0" style="display:none">
                            <input id="email" type="text" onclick="location.href='#stake'" placeholder="Enter" maxlength="50" style="display:none">
                                <span class="must" style="display:none">＊</span>
                        </dd>
                        <dt>
                            Username
                        </dt>
                        <dd>
                            <input id="userName" type="text" onclick="location.href='#stake'" placeholder="Enter"
                                   maxlength="16">
                            <span class="must">＊</span>
                            <span id="userNameErrorText" class="error-text" style="display:none"></span>
                        </dd>
                        <dt>
                            Password
                        </dt>
                        <dd>
                            <input id="userPassword" type="password" onclick="location.href='#stake'"
                                   placeholder="Enter">
                            <span class="must">＊</span>
                            <span id="passwordErrorText" class="error-text" style="display:none"></span>
                        </dd>
                        <dt>
                            Confirm Password
                        </dt>
                        <dd>
                            <input id="repeatPassword" type="password" onclick="location.href='#stake'"
                                   placeholder="Enter">
                            <span class="must">＊</span>
                            <span id="repeatPasswordErrorText" class="error-text" style="display:none"></span>
                        </dd>
                    </dl>
                    <dl class="">
                        <dt>
                            First Name
                        </dt>
                        <dd>
                            <input id="firstName" type="text" onclick="location.href='#stake'" placeholder="Enter"
                                   maxlength="16">
                        </dd>
                        <dt>
                            Last Name
                        </dt>
                        <dd>
                            <input id="lastName" type="text" onclick="location.href='#stake'" placeholder="Enter"
                                   maxlength="16">
                        </dd>
                        <dt>Phone</dt>
                        <dd>
                            <input id="phone" type="text" onclick="location.href='#stake'" placeholder="Enter"
                                   maxlength="16">
                        </dd>

                        <dt>
                            Exposure
                        </dt>
                        <dd>
                            <input id="exposure" type="text" onclick="location.href='#stake'" placeholder="Enter"
                                   maxlength="12">
                            <span class="must">＊</span>
                        </dd>

                        <dt>Commission(%)</dt>
                        <dd>
                            <input id="commission" type="text" onclick="location.href='#tax'" placeholder="Enter"
                                   value="">
                            <span class="must">＊</span>
                        </dd>




                        <dt>
                            Time Zone
                        </dt>
                        <dd>
                            <select name="timezone" id="timezone">

                                <option value="Pacific/Midway">
                                    Pacific/Midway(GMT-11:00)
                                </option>

                                <option value="Pacific/Honolulu">
                                    Pacific/Honolulu(GMT-10:00)
                                </option>

                                <option value="America/Juneau">
                                    America/Juneau(GMT-9:00)
                                </option>

                                <option value="America/Los_Angeles">
                                    America/Los_Angeles(GMT-8:00)
                                </option>

                                <option value="America/Phoenix">
                                    America/Phoenix(GMT-7:00)
                                </option>

                                <option value="America/Chicago">
                                    America/Chicago(GMT-6:00)
                                </option>

                                <option value="America/New_York">
                                    America/New_York(GMT-5:00)
                                </option>

                                <option value="America/Santiago">
                                    America/Santiago(GMT-4:00)
                                </option>

                                <option value="America/Sao_Paulo">
                                    America/Sao_Paulo(GMT-3:00)
                                </option>

                                <option value="Atlantic/South_Georgia">
                                    Atlantic/South_Georgia(GMT-2:00)
                                </option>

                                <option value="Atlantic/Azores">
                                    Atlantic/Azores(GMT-1:00)
                                </option>

                                <option value="Europe/London">
                                    Europe/London(GMT+0:00)
                                </option>

                                <option value="Europe/Paris">
                                    Europe/Paris(GMT+1:00)
                                </option>

                                <option value="Africa/Cairo">
                                    Africa/Cairo(GMT+2:00)
                                </option>

                                <option value="Asia/Qatar">
                                    Asia/Qatar(GMT+3:00)
                                </option>

                                <option value="Asia/Dubai">
                                    Asia/Dubai(GMT+4:00)
                                </option>

                                <option value="Asia/Karachi">
                                    Asia/Karachi(GMT+5:00)
                                </option>

                                <option value="IST" selected="selected">
                                    IST(Bangalore / Bombay / New Delhi) (GMT+5:30)
                                </option>

                                <option value="Asia/Kathmandu">
                                    Asia/Kathmandu(GMT+5:45)
                                </option>

                                <option value="Asia/Dhaka">
                                    Asia/Dhaka(GMT+6:00)
                                </option>

                                <option value="Asia/Bangkok">
                                    Asia/Bangkok(GMT+7:00)
                                </option>

                                <option value="Asia/Hong_Kong">
                                    Asia/Hong_Kong(GMT+8:00)
                                </option>

                                <option value="Asia/Tokyo">
                                    Asia/Tokyo(GMT+9:00)
                                </option>

                                <option value="Australia/Adelaide">
                                    Australia/Adelaide(GMT+9:30)
                                </option>

                                <option value="Australia/Melbourne">
                                    Australia/Melbourne(GMT+10:00)
                                </option>

                                <option value="Asia/Magadan">
                                    Asia/Magadan(GMT+11:00)
                                </option>

                                <option value="Pacific/Fiji">
                                    Pacific/Fiji(GMT+12:00)
                                </option>

                            </select>
                            <span class="must">＊</span>
                        </dd>

                    </dl>
                </li>
                <li class="pt_allowed_box" style="display: none;">
                    <div class="pt_allowed" style="display: none;">
                        <dl>
                            <dt class="dt_w50">
                                PT Allowed To Player
                                (%)
                            </dt>
                            <dd>
                                <input id="memberMaxPT" type="text" onclick="location.href='#stake'" placeholder="Enter"
                                       value="0">
                            </dd>
                        </dl>
                    </div>
                    <div class="sports_box" style="height: 350px;overflow: hidden;overflow-y: auto;">
                        <p>
                            My Sports PT Setting
                            <span id="settingNote" class="note" style="display: none;">
                                PT setting % value must be
                                multiplier of 5 :
                            </span>
                        </p>

                        <ul class="half_box">
                            <li>
                                <div id="sportsSet" class="sports_set">
                                    <dl class="bg_head">
                                        <dt>
                                            All Sports Set
                                        </dt>
                                        <dd>
                                            <input id="allowOneMaxPT" type="text" onclick="location.href='#stake'"
                                                   placeholder="Enter" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#" name="copy_one_up">up</a></li>
                                                <li><a class="down" href="#" name="copy_one_down">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Soccer
                                        </dt>

                                        <dd class="">
                                            <input id="soccer_PT" type="text" name="normal" data-type="1" value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>
                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            Tennis
                                        </dt>

                                        <dd class="">
                                            <input id="tennis_PT" type="text" name="normal" data-type="2" value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Cricket
                                        </dt>

                                        <dd class="">
                                            <input id="cricket_PT" type="text" name="normal" data-type="4" value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>

                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            Rugby Union
                                        </dt>

                                        <dd class="">
                                            <input id="rugby_union_PT" type="text" name="normal" data-type="5"
                                                   value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Horse Racing
                                        </dt>

                                        <dd class="">
                                            <input id="horse_racing_PT" type="text" name="normal" data-type="7"
                                                   value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>
                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            Greyhound Racing
                                        </dt>

                                        <dd class="">
                                            <input id="greyhound_racing_PT" type="text" name="normal" data-type="4339"
                                                   value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            American Football
                                        </dt>

                                        <dd class="">
                                            <input id="american_football_PT" type="text" name="normal" data-type="6423"
                                                   value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>



                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            Basketball
                                        </dt>

                                        <dd class="">
                                            <input id="basketball_PT" type="text" name="normal" data-type="7522"
                                                   value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>



                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Politics
                                        </dt>

                                        <dd class="">
                                            <input id="politics_PT" type="text" name="normal" data-type="2378961"
                                                   value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>



                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            E-Soccer
                                        </dt>

                                        <dd class="">
                                            <input id="e_soccer_PT" type="text" name="normal" data-type="137" value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>



                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Kabaddi
                                        </dt>

                                        <dd class="">
                                            <input id="kabaddi_PT" type="text" name="normal" data-type="138" value="0">
                                        </dd>
                                        <div class="tips-popup" style="display: none">
                                            multiplier of 5
                                        </div>



                                    </dl>

                                </div>
                                <p style="display: ">My PT Allowed <strong id="yourPT">0</strong>%</p>
                            </li>

                            <li>

                                <div id="fancyBetSet" class="sports_set" style="display: none;height: 150px;">
                                    <dl class="bg_head">
                                        <dt>FancyBet Setting</dt>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Master Agent
                                        </dt>
                                        <dd>
                                            <input id="company_fancy_bet_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="company"
                                                   value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl class="bg_dark" id="fancyBetSSSPt">
                                        <dt>SSS</dt>
                                        <dd>
                                            <input id="sss_fancy_bet_PT" type="text" onclick="location.href='#stake'"
                                                   placeholder="Enter" data-type="sss" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl class="" id="fancyBetDirectLevelPt">
                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="shareHolder_fancy_bet_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="shareHolder" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <p id="fancyBetTotalPTCol" style="display: none">
                                    FancyBet total PT allowed <strong id="fancyBetTotalPT">0</strong>%
                                </p>
                            </li>

                            <li>
                                <div id="bookMakerSet" class="sports_set" style="display: none;height: 115px;">
                                    <dl class="bg_head">
                                        <dt>BookMaker Setting</dt>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Master Agent
                                        </dt>
                                        <dd>
                                            <input id="company_book_maker_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="company"
                                                   value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl class="bg_dark" id="bookMakerDirectLevelPt">
                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="shareHolder_book_maker_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="shareHolder" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <p id="bookMakerTotalPTCol" style="display: none">
                                    BookMaker total PT allowed <strong id="bookMakerTotalPT">0</strong>%
                                </p>
                            </li>

                            <li>
                                <div id="sportsbookTennisSet" class="sports_set" style="display: none;height: 115px;">
                                    <dl class="bg_head">
                                        <dt>SportsBook</dt>
                                        <dd><a class="toggle_on" href="#" id="edit_allow_sportsbookTennis">ON</a></dd>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Master Agent
                                        </dt>
                                        <dd>
                                            <input id="company_sportsbook_tennis_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="company"
                                                   value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="shareHolder_sportsbook_tennis_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="shareHolder" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <p style="display: none">
                                    Sportsbook total PT allowed <strong id="sportsbookTennisTotalPT">0</strong>%
                                </p>
                            </li>

                            <li>
                                <div id="sportsbookPremiumCricketSet" class="sports_set" style="display: none;">
                                    <dl class="bg_head">
                                        <dt>SportsBook - Premium</dt>
                                        <dd>
                                            <a class="toggle_on" href="#"
                                               id="edit_allow_sportsbookPremiumCricket">ON</a>
                                        </dd>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Master Agent
                                        </dt>
                                        <dd>
                                            <input id="company_sportsbookPremiumCricket_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="company"
                                                   value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>

                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="shareHolder_sportsbookPremiumCricket_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="shareHolder" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <p style="display: none">
                                    Premium total PT allowed <strong id="sportsbookPremiumCricketTotalPT">0</strong>%
                                </p>
                            </li>


                            <li>
                                <div id="financialBinarySet" class="sports_set" style="display: none;">
                                    <dl class="bg_head">
                                        <dt>Binary Setting</dt>
                                    </dl>

                                    <dl class="">
                                        <dt>
                                            Master Agent
                                        </dt>
                                        <dd>
                                            <input id="company_financialBinary_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="company"
                                                   value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>

                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="shareHolder_financialBinary_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="shareHolder" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <p style="display: none">
                                    Binary total PT allowed <strong id="financialBinaryTotalPT">0</strong>%
                                </p>
                            </li>


                            <li>
                                <div id="LUCKCO7Set" class="sports_set" style="display: none;">
                                    <dl class="bg_head">
                                        <dt>Mini Game Setting</dt>
                                        <dd style="display: none">
                                            <a class="toggle_on" href="#" id="new_allow_LUCKCO7">ON</a>
                                        </dd>
                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            R&amp;G
                                        </dt>
                                        <br>
                                        <dt>
                                            Master Agent
                                        </dt>

                                        <dd>
                                            <input id="rng_agent_LUCKCO7_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="agent"
                                                   data-categorytype="rng" value="100">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>

                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="rng_downline_LUCKCO7_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="downline" data-categorytype="rng" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                    <p style="display: none">
                                        RNG total PT allowed <strong id="LUCKCO7_rng_TotalPT"></strong>%
                                    </p>

                                </div>
                            </li>


                            <li>
                                <div id="casinoSet" class="sports_set" style="display: none;">
                                    <dl class="bg_head">
                                        <dt>Casino Setting</dt>
                                        <dd style="display: none">
                                            <a class="toggle_on" href="#" id="new_allow_casino">ON</a>
                                        </dd>
                                    </dl>

                                    <dl class="bg_dark">
                                        <dt>
                                            Live
                                        </dt>
                                        <br>
                                        <dt>
                                            Master Agent
                                        </dt>

                                        <dd>
                                            <input id="live_agent_casino_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="agent"
                                                   data-categorytype="live" value="100">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>

                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="live_downline_casino_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="downline" data-categorytype="live" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                    <p style="display: none">
                                        LIVE total PT allowed <strong id="casino_live_TotalPT">100</strong>%
                                    </p>

                                    <dl class="">
                                        <dt>
                                            R&amp;G
                                        </dt>
                                        <br>
                                        <dt>
                                            Master Agent
                                        </dt>

                                        <dd>
                                            <input id="rng_agent_casino_PT" type="text" onclick="location.href='#stake'"
                                                   placeholder="Enter" data-type="agent" data-categorytype="rng"
                                                   value="100">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>

                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="rng_downline_casino_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="downline" data-categorytype="rng" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                    <p style="display: none">
                                        RNG total PT allowed <strong id="casino_rng_TotalPT">100</strong>%
                                    </p>

                                    <dl class="bg_dark">
                                        <dt>
                                            SLOT
                                        </dt>
                                        <br>
                                        <dt>
                                            Master Agent
                                        </dt>

                                        <dd>
                                            <input id="slot_agent_casino_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="agent"
                                                   data-categorytype="slot" value="100">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>

                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="slot_downline_casino_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="downline" data-categorytype="slot" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                    <p style="display: none">
                                        SLOT total PT allowed <strong id="casino_slot_TotalPT">100</strong>%
                                    </p>

                                    <dl class="">
                                        <dt>
                                            Virtual Sports
                                        </dt>
                                        <br>
                                        <dt>
                                            Master Agent
                                        </dt>

                                        <dd>
                                            <input id="virtual_agent_casino_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter" data-type="agent"
                                                   data-categorytype="virtual" value="100">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>

                                        <dt>
                                            Player
                                        </dt>
                                        <dd>
                                            <input id="virtual_downline_casino_PT" type="text"
                                                   onclick="location.href='#stake'" placeholder="Enter"
                                                   data-type="downline" data-categorytype="virtual" value="0">
                                            <ul class="odd-add">
                                                <li><a class="up" href="#">up</a></li>
                                                <li><a class="down" href="#">down</a></li>
                                            </ul>
                                            <div class="tips-popup" style="display: none">
                                                multiplier of 5
                                            </div>
                                        </dd>
                                    </dl>
                                    <p style="display: none">
                                        VIRTUAL total PT allowed <strong id="casino_virtual_TotalPT">100</strong>%
                                    </p>

                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="btn_box">
                <a href="#" id="createBtn" class="btn-send">
                    Create
                </a>
            </div>
        </div>
    </div>
</form>



<!-- Banking pop start -->
<div id="bankingModal" class="pop_bg" style="display:none">
    <div class="pop_box">
        <!-- Loading Wrap -->
        <div id="bankingModalLoading" class="overlay">
            <!-- add style="display:block" to show loading -->
            <div class="loading-wrap" style="display:block">
                <ul class="loading">
                    <li><img src="https://statics3.skyexch.bike/images/loading40.gif"></li>
                    <li>Loading…</li>
                </ul>
            </div>
        </div>
        <a class="close_pop" href="javascript: void(0)" onclick="BankingHandler.hideDialog()">close_pop</a>

        <h3>
            Edit Credit
        </h3>
        <ul class="tab">
            <li>
                <a id="deposit" href="javascript: void(0)">
                    Credit IN
                </a>
            </li>
            <li>
                <a id="withdraw" href="javascript: void(0)">
                    Credit OUT
                </a>
            </li>
            <li>
                <a id="initCreditLimit" href="javascript: void(0)">
                    Initial Credit Limit
                </a>
            </li>
        </ul>
        <div class="total_box">
            <dl class="total_dl">
                <dt id="bankingTitle"></dt>
                <dd id="displayName"></dd>
            </dl>
            <dl id="bankingBalanceDL" class="total_dl" style="display: none">
                <dt>
                    Balance
                </dt>
                <dd id="bankingBalance"></dd>
            </dl>
            <dl id="bankingCreditLimitDL" class="total_dl" style="display: none">
                <dt>
                    Credit Limit
                </dt>
                <dd id="editCreditLimit"></dd>
            </dl>
            <dl id="bankingInitialCreditLimitDL" class="total_dl" style="display: none">
                <dt>
                    Initial Credit Limit
                </dt>
                <dd id="editInitialCreditLimit"></dd>
            </dl>
        </div>
        <dl class="form_list">
            <dt>
                Amount
            </dt>
            <dd id="allAmountOption" class="radio_enter">
                <input id="allAmount" name="bankingAmount" class="radio" type="radio" value="all">
                <label for="allAmount">
                    All
                </label>
            </dd>
            <dd id="cusAmountOption" class="radio_enter">
                <input id="cusAmount" name="bankingAmount" class="radio" type="radio" value="cus">
                <input id="amount" type="text" onclick="location.href='#stake'" placeholder="Enter">
                <span id="bankingAmountMust" class="must">＊</span>
            </dd>
            <dd id="cusInitCreditLimit">
                <input id="editInitCreditLimit" type="text" onclick="location.href='#stake'" placeholder="Enter"
                       onkeyup="return BankingHandler.checkCreditLimit(this)">
                <span id="bankingInitCreditLimitMust" class="must">＊</span>
            </dd>
            <dt style="display: block">
                Password
            </dt>
            <dd style="display: block">
                <input id="bankingPassword" type="password" onclick="location.href='#stake'" placeholder="Enter">
                <span class="must">＊</span>
            </dd>
            <dt>
                Remarks
            </dt>
            <dd>
                <textarea id="remarks" type="text" cols="45" rows="5" placeholder="Enter"></textarea>
            </dd>
            <dd>
                <a id="bankingBtn" class="btn-send" href="javascript: void(0)"></a>
                <a id="editCreditLimitBtn" class="btn-send" href="javascript: void(0)"
                   style="display: none">Submit</a>
            </dd>
        </dl>

    </div>
</div>


<!-- Change status pop start -->
<div id="changeStatusModal" style="display: none;" class="modal pop_bg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="pop_box">
                <a class="close_pop" href="javascript: void(0)" onclick="ChangeStatusHandler.hideDialog()">close_pop</a>
                <h3>
                    Change Status
                </h3>
                <div class="status_id">
                    <p id="changeAccount">
                        <span class="order" id="number"></span>
                        <span class="lv_4">PL</span>
                        <span class="account_name" id="account_user_name">verma123arun</span>
                    </p>
                    <p class="status-active" id="originalStatus" style=" display: inline-flex; align-items: center;"><img src="/images/transparent.gif"><span id="originalStatus123">Active</span></p>
                </div>
                <form>
                    <input type="hidden" name="UserId" id="statusUserId" />
                    <input type="hidden" name="Status" id="statusStatus" />
                    <div class="white-wrap">
                        <ul id="statusBtn" class="status_but">
                            <li>
                                <a id="activeBtn" class="but_active" href="#active" data-status="active">
                                    <img class="" src="~/assets/images/transparent.gif">
                                    Active
                                </a>
                            </li>
                            <li>
                                <a id="suspendBtn" class="but_suspend" href="#suspend" data-status="suspend">
                                    <img class="" src="~/assets/images/transparent.gif">
                                    Suspend
                                </a>
                            </li>
                            <li>
                                <a id="lockedBtn" class="but_locked" href="#locked" data-status="locked">
                                    <img class="" src="~/assets/images/transparent.gif">
                                    Locked
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="suspend-wrap" id="maxWinLossSuspendDiv" style="display: none">
                        <div class="status_id" id="maxWinLossSuspendStatus"></div>

                        <div class="fix-content">
                            <p id="maxLossSuspendInfo" style="display: none">
                                Please change downline Max Loss Limit over the
                                total loss or executed on Transferable P/L, before you unsuspend.
                            </p>
                            <p id="maxWinSuspendInfo" style="display: none">
                                Please change downline Max Win Limit over the total
                                win or executed on Transferable P/L, before you unsuspend.
                            </p>

                            <ul class="status_but">
                                <li>
                                    <a class="but_suspend disable" id="maxLossUnSuspendBtn"
                                       href="javascript:void (0);">
                                        Unsuspend <strong>Loss</strong> Limit
                                    </a>
                                </li>
                                <li>
                                    <a class="but_suspend disable" id="maxWinUnSuspendBtn" href="javascript:void (0);">
                                        Unsuspend
                                        <strong>Win</strong> Limit
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="suspend-wrap" id="passLockDiv" style="display: none">
                        <div class="sys-lock status_id">
                            <p class="status-lock">
                                <img src="~/assets/images/transparent.gif">Passlocked
                            </p>
                        </div>

                        <div class="fix-content">
                            <ul class="status_but">
                                <li>
                                    <a class="but_locked" id="unPassLockBtn" href="javascript:void (0);">
                                        Unlock
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sys-suspend status_id" id="systemSuspendMessage" style="display: none">
                        <p class="status-suspend">
                            <img src="~/assets/images/transparent.gif">System Suspend
                        </p>
                    </div>

                    <div class="sys-lock status_id" id="systemLockedMessage" style="display: none">
                        <p class="status-lock">
                            <img src="~/assets/images/transparent.gif">System Locked
                        </p>
                    </div>
                </form>
                <div class="btn_box inline-form">
                    <dl class="form_list" style="display: inline">

                        <dt>
                            Password
                        </dt>
                        <dd>
                            <input id="changeStatusPassword" type="password" placeholder="Enter" fdprocessedid="d6kei">
                        </dd>
                    </dl>
                    <div class="btn_box">
                        @*<a id="changeStatusBtn" class="btn-send" href="javascript: void(0)">
                                Change
                            </a>*@
                        <button id="changeStatusBtn" type="submit" class="btn-send">Change</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="creditReferenceModel" class="pop_bg" style="display:none">
    <div class="pop_refer">
        <a class="close_pop" href="javascript: void(0)" onclick="CreditReferenceHandler.hideDialog()">close_pop</a>
        <h3>
            Credit Reference Edit
        </h3>

        <div class="wrap-refer_edit">
            <dl>
                <dt>
                    Current
                </dt>
                <dd>
                    <a class="btn" id="creditReferenceLog" href="javascript: void(0)">
                        Log
                    </a>
                    <strong id="creditReference"></strong>
                </dd>
            </dl>

            <dl>
                <dt>
                    New
                </dt>
                <dd>
                    <input type="text" id="newCreditReference" onclick="location.href='#stake'" placeholder="Enter">
                </dd>
            </dl>

            <dl>
                <dt>
                    Password
                </dt>
                <dd>
                    <input id="changeCreditReferencePassword" type="password" onclick="location.href='#stake'"
                           placeholder="Enter">
                </dd>
            </dl>
        </div>
        <ul class="btn-wrap">
            <li>
                <a id="changeCreditReferenceBtn" class="btn-send" href="javascript: void(0)">
                    Submit
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="mainWrap" class="main_wrap">

    <div class="marquee-box">
        <h4>News</h4>
        <div class="marquee marquee-sec">
            <div class="marquee-inner">
                <marquee attribute_name="attribute_value" ....more attributes>
                    <div class="js-marquee" style="margin-right: 0px; float: left;">
                        <a><span>12 Mar 2023</span>Event : New Zealand v Sri Lanka.... Market : 80 Over SL (2) '192-193' (IST 06:58:54 - 06:59:05) Bets Voided Because of Wrong Commentary.... Sorry for the Inconvenience&nbsp;Caused</a>
                        <a><span>21 Jan 2022</span>Match :- Minister Group Dhaka vs Khulna Tigers .. Market .. Bookmaker .. Selection :- Khulna Tigers ' 2 - 6 ' ( IST 21:18:35 - 21:18:38 ) Bets Voided Because Wrong Odds Offered Bymistake ... Sorry for the Inconveniences Caused</a>
                        <a><span>04 Sep 2021</span>WHITE LABEL OF SKYEXCHANGE IS AVAILABLE NOW - CONTACT YOUR UPLINE.</a>


                    </div>
                </marquee>
            </div>
        </div>


    </div>

    <div class="total_all">

        <div class="search-wrap" id="userSearchUl" style="">
            <div>
                <input class="search-input" type="text" name="userId" id="userId" placeholder="Find member..."
                       fdprocessedid="7wj81">
                <button class="search-but" id="searchUserId" fdprocessedid="jzguft">Search</button>
            </div>
        </div>

        <ul class="input-list" id="accountStatusUl">
            <li><strong>Status</strong></li>
            <li>
                <select class="" name="accountStatus" id="accountStatus" fdprocessedid="d6e5mkr" onchange="getUsersList()">
                    <option value="0">ALL</option>
                    <option value="1">ACTIVE</option>
                    <option value="2">SUSPENDED</option>
                    <option value="3">LOCKED</option>
                </select>
            </li>
        </ul>

        <div class="agent_path">
            <ul id="agentPath" class="agent_path-L" style="display: none;">

                <li id="path6" class="" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class="lv_0">
                            COM
                        </span>
                        <strong></strong>
                    </a>
                </li>

                <li id="pathCurrency" class="currency_tag" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class=""></span>
                        <strong></strong>
                    </a>
                </li>

                <li id="path5" class="" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class="lv_1">
                            SS
                        </span>
                        <strong></strong>
                    </a>
                </li>

                <li id="path4" class="" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class="lv_2">
                            SUP
                        </span>
                        <strong></strong>
                    </a>
                </li>

                <li id="path3" class="last_li" style="">
                    <a href="javascript: void(0);">
                        <span class="lv_3">
                            MA
                        </span>
                        <strong>subhodip</strong>
                    </a>
                </li>

                <li id="path0" class="" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class="lv_4">
                            PL
                        </span>
                        <strong></strong>
                    </a>
                </li>

                <ul class="account_pop" id="accountPop" style="">
                    <li id="popTmp" style="display: none;">
                        <a href=""></a>
                    </li>
                </ul>
            </ul>
        </div>

        <a id="refresh" class="btn_replay"><img src="~/assets/images/transparent.gif"></a>

        <a class="add_member" href="#" onclick="CreateAccountHandler.showDialog()">
            <img src="">@ViewBag.AddButtonName
        </a>
    </div>

    <div id="totalBox" class="total_box" style="">
        <dl id="creditLimitDL" class="total_dl" style="display: none">
            <dt>
                Credit Limit
            </dt>
            <dd id="myCreditLimit">PBU 0.00</dd>
        </dl>
        <dl id="creditGivenOutDL" class="total_dl" style="display: none">
            <dt>
                Total Credit Given Out
            </dt>
            <dd id="totalCreditGivenOut">PBU 0.00</dd>
        </dl>
        <dl id="creditAvailBalDL" class="total_dl" style="display: none">
            <dt>
                Credit Avail Bal
            </dt>
            <dd id="myCreditAvailBal">PBU 0.00</dd>
        </dl>
        <dl id="totalBalanceDL" class="total_dl" style="">
            <dt>
                Total Balance
            </dt>
            <dd id="totalBalance">PBU 0.00</dd>
        </dl>
        <dl id="totalExposureDL" class="total_dl" style="">
            <dt>
                Total Exposure
            </dt>
            <dd id="totalExposure">PBU 0.00</dd>
        </dl>
        <dl id="myCurrentPLDL" class="total_dl" style="display: none">
            <dt>
                Today P/L with Upline
            </dt>
            <dd id="myCurrentPL">PBU 0.00</dd>
        </dl>
        <dl id="availableBalanceDL" class="total_dl" style="">
            <dt>
                Total Avail. bal.
            </dt>
            <dd id="totalAvailBal">PBU 0.00</dd>
        </dl>
        <dl id="masterBalanceDL" class="total_dl" style="">
            <dt>
                Balance
            </dt>
            <dd id="mastersBalance">PBU 30.00</dd>
        </dl>
        <dl id="masterAvailableBalanceDL" class="total_dl" style="">
            <dt>
                Available Balance
            </dt>
            <dd id="mastersAvailBal">PBU 30.00</dd>
        </dl>
        <dl id="transferablePLWithUplineDL" class="total_dl" style="display: none">
            <dt>
                Transferable P/L with Upline
            </dt>
            <dd id="transferablePLWithUpline">PBU 0.00</dd>
        </dl>
        <dl id="totalUsersDL" class="total_dl" style="">
            <dt>
                Total Users
            </dt>
            <dd id="totalUsers">@Model.Users.Count()</dd>
        </dl>
    </div>

    <!-- Center Column -->
    <div id="widthAll" class="width-all">
        <!-- Loading Wrap -->
        <div id="loading" class="loading-wrap" style="display: none;">
            <ul class="loading">
                <li><img src="https://statics3.skyexch.bike/images/loading40.gif"></li>
                <li>
                    Loading...
                </li>
                <br>
                <li><span id="progress"></span></li>
            </ul>
        </div>

        <!-- Message -->
        <div id="message" class="message-wrap success">
            <a class="btn-close">Close</a>
            <p></p>
        </div>

        <!-- Report Table -->

        <div id="filterList">
            <partial name="_DownlineList" model="Model" />
        </div>

        <table style="display: none">
            <tbody>
                <tr id="tempBalanceTr" class="expand first expand-balance">
                    <td colspan="2"></td>
                    <td colspan="7">
                        <img class="expand-arrow" src="~/assets/images/transparent.gif">
                        <table>
                            <tbody id="tempVendorContent">
                                <tr>
                                    <th width="12%" class="align-L">Game</th>
                                    <th width="13%">Balance</th>
                                    <th width="8%"><a id="recallAll" href="#" class="btn-recall">Recall All</a></th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="tempVendorTr">
                    <td id="vendorTitle" class="align-L">Houise</td>
                    <td id="vendorBalance">200,000,000,000.00</td>
                    <td><a id="recall" href="#" class="btn-recall">Recall</a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Report Table -->
    <div id="tableOneBox" class="table_one_box" style="display: none">


    </div>
</div>


<script type="text/javascript" src="/js/util/PageUtil.js?v=20230320_1679280600000"></script>
<div>
    <ul style="display: none">
        <li id="prev">
            <a href="javascript:void(0);">
                Prev
            </a>
        </li>
        <li id="next">
            <a href="javascript:void(0);">
                Next
            </a>
        </li>
        <li id="pageNumber"><a href="javascript:void(0);"></a></li>
        <li id="more"><a href="javascript:void(0);">...</a></li>
        <input type="text" id="goToPageNumber" onkeyup="return PageHandler.validatePageNumber(this)" maxlength="6"
               size="4">
        <li><a id="goPageBtn">GO</a></li>
    </ul>

    <ul id="pageNumberContent" class="pages">
        <li id="prev">
            <a href="javascript:void(0);" class="disable" style="pointer-events: none;">
                Prev
            </a>
        </li>
        <li id="pageNumber"><a href="javascript:void(0);" class="select" style="pointer-events: none;">1</a></li>
        <li id="next">
            <a href="javascript:void(0);" class="disable" style="pointer-events: none;">
                Next
            </a>
        </li>
        <input type="text" id="goToPageNumber_1" onkeyup="return PageHandler.validatePageNumber(this)"
               maxlength="6" size="4" fdprocessedid="pkeeic">
        <a id="goPageBtn_1">GO</a>
    </ul>
</div>

<div class="footer_info">
    <div class="main_wrap">
        <ul class="action">
            <li class="bank">
                <p>
                    Bank
                </p>
            </li>
            <li class="p_l">
                <p>
                    Betting Profit &amp; Loss
                </p>
            </li>
            <li class="betting_history">
                <p>
                    Betting History
                </p>
            </li>
            <li class="profile">
                <p>
                    Profile
                </p>
            </li>
            <li class="status">
                <p>
                    Change Status
                </p>
            </li>
        </ul>
    </div>
</div>
<!-- notice Pop Up Wrap -->
<div id="siteAnnouncement" class="overlay" style="display: none">
    <div class="announce-wrap">
        <div class="announce-header">
            <h1>Notice</h1>
        </div>
        <div class="tc-content" id="siteAnnouncement_content">
            <p>text</p>
            <img src="" alt="">
        </div>
        <ul class="announce-footer">
            <li>
                @*<a href="#" class="btn-send" onclick="javascript:$j('#siteAnnouncement').hide();">Agree</a>*@
                <a href="#" class="btn-send">Agree</a>
            </li>
        </ul>
    </div>
</div>

@*<script language="JavaScript" type="text/javascript">
        //PageConfig.userName = "subhodip";
        //PageConfig.memberSite = "1";
        //PageConfig.isMemberModule = true;
        //PageConfig.pathObj = { "currencyName": "PBU", "site": 1, "nodeList": [{ "userType": 3, "userID": "subhodip" }] };
        //(function () {
        //    PathHandler.init();
        //})();

        //(function () {
        //    $j('.btn-close').click(function () {
        //        $j('#message').hide();
        //    });
        //})();
    </script>*@

@section PageJs{
    <script>

        $(document).ready(function () {
            $(".usersettingstatus").click(function () {
                debugger;
                var modal = document.getElementById("changeStatusModal");
                modal.style.display = "block";

                $("#originalStatus").removeClass("status-active");
                $("#originalStatus").removeClass("status-suspend");
                $("#originalStatus").removeClass("status-lock");

                var currentRow = $(this).closest("tr");
                var userId = currentRow.find("td:eq(1)").text();
                var rCell1 = currentRow.find("td:eq(15)").text();
                $("#account_user_name").text(currentRow.find("td:eq(2)").text());
                if (rCell1 == "Active") {
                    $(".but_active").addClass("disable");
                    $(".but_suspend").removeClass("disable");
                    $(".but_locked").removeClass("disable");
                    $("#originalStatus").addClass("status-active");
                    $("#originalStatus123").text('Active');
                }
                else if (rCell1 == "InActive") {
                    $(".but_suspend").addClass("disable");
                    $(".but_active").removeClass("disable");
                    $(".but_locked").removeClass("disable");
                    $("#originalStatus").addClass("status-suspend");
                    $("#originalStatus123").text('InActive');
                }
                else {
                    $(".but_locked").addClass("disable");
                    $(".but_active").removeClass("disable");
                    $(".but_suspend").removeClass("disable");
                    $("#originalStatus").addClass("status-lock");
                    $("#originalStatus123").text('Blocked');
                }

                $("#changeStatusModal input[name='UserId']").val(userId);
                $("#changeStatusModal input[name='Status']").val(rCell1);
            });

            $("#activeBtn").click(function () {
                $(".but_active").addClass("open");
                $(".but_suspend").removeClass("open");
                $(".but_locked").removeClass("open");
            });

            $("#suspendBtn").click(function () {
                $(".but_suspend").addClass("open");
                $(".but_active").removeClass("open");
                $(".but_locked").removeClass("open");
            });

            $("#lockedBtn").click(function () {
                $(".but_locked").addClass("open");
                $(".but_suspend").removeClass("open");
                $(".but_active").removeClass("open");
            });

            $(".close_pop").click(function () {
                HideStatusModel();
            });

            $("#changeStatusModal button[type=submit]").click(function () {
                SetUserStatus();
            });

            function SetUserStatus() {
                debugger;
                var uStatus = 0;
                var activeBtn = document.getElementById("activeBtn");
                if (activeBtn.classList.contains("open")) {
                    uStatus = 1;
                }

                var suspendBtn = document.getElementById("suspendBtn");
                if (suspendBtn.classList.contains("open")) {
                    uStatus = 2;
                }

                var lockedBtn = document.getElementById("lockedBtn");
                if (lockedBtn.classList.contains("open")) {
                    uStatus = 3;
                }

                const formData = new FormData();
                formData.append("UserId", $('#statusUserId').val());
                formData.append("Status", uStatus);

                let getStatusJson = {
                    apiUrl: "@Url.Action("DeleteUser", "Home")",
                    postData: formData,
                    dataType: 'html'
                }
                $(".loader").show();
                promiseAjaxPost.call(getStatusJson, false).then(
                (res) => {
                        $(".loader").hide();
                        HideStatusModel();
                        window.location.reload();
                },
                (err) => {
                    messagePopup.error(err.statusText);
                }
                )
            }

            function HideStatusModel() {
                var modal = document.getElementById("changeStatusModal");
                modal.style.display = "none";
            }

            //$("#createBtn").click(function () {
            //    alert("modal save");
            //    return;
            //    var form = $("#createModal form");
            //    var url = "/Home/CreateUser";
            //    var postData = form.serialize();
            //    //$(".loader").show();
            //    $.post(url, postData, function (data) {
            //        /*$(".loader").hide();*/
            //        if (data.isSuccess) {
            //            toastr.success("User status change successfully!");
            //            var modal = document.getElementById("changeStatusModal");
            //            modal.style.display = "none";
            //            window.location.reload();
            //        }
            //        else {
            //            toastr.error(data.message);
            //            //$("#updateUserStatusModal .validation-summary-valid").html(data).show();
            //        }
            //    });
            //});

            $(".add_member").click(function () {
                var modal = document.getElementById("createModal");
                modal.style.display = "block";
            });
            $(".close_pop").click(function () {
                var modal = document.getElementById("createModal");
                modal.style.display = "none";
            });
            $("#createBtn").click(function () {
                //alert("click save");
                //return;
                saveRequest();
            });
        });


        function validationCheck() {
            var Error = false;

            //$('#EmailError').text('');
            //$('#FullNameError').text('');
            //$('#PasswordRegError').text('');
            //$('#ConfirmPasswordRegError').text('');
            //$('#PhoneNumberError').text('');
            //$('#CityError').text('');
            //$('#StateError').text('');
            //$('#AssignCoinError').text('');
            //$('#CommisionError').text('');
            //$('#ExposureLimitError').text('');


            //if ($("#email").val() == null || $("#email").val() == '' || $("#email").val().trim() == '') {
            //    /* $('#EmailError').text('Please enter Email');*/
            //    alert("Please Enter Email");
            //    Error = true;
            //    return;
            //}
            if ($("#userName").val() == null || $("#userName").val() == '' || $("#userName").val().trim() == '') {
                /*$('#FullNameError').text('Please enter Full Name');*/
                alert("Please Enter UserName");
                return true;
                return;
            }
            if ($("#userPassword").val() == null || $("#userPassword").val() == '' || $("#userPassword").val().trim() == '') {
               /* $('#PasswordRegError').text('Please enter Password');*/
                alert("Please Enter Password");
                return true;
                return;
            }
            if ($("#repeatPassword").val() == null || $("#repeatPassword").val() == '' || $("#repeatPassword").val().trim() == '') {
                /*$('#ConfirmPasswordRegError').text('Please enter Confirm Password');*/
                alert("Please Enter Confirm Password");
                return true;
                return;
            }
            if ($("#repeatPassword").val() != $("#userPassword").val() ) {
                /*$('#ConfirmPasswordRegError').text('Please enter Confirm Password');*/
                alert("Password and Confirm Password should be Same");
                return true;
                return;
            }
            if ($("#firstName").val() == null || $("#firstName").val() == '' || $("#firstName").val().trim() == '') {
                /*$('#FullNameError').text('Please enter Full Name');*/
                alert("Please Enter FirstName");
                return true;
                return;
            }
            if ($("#lastName").val() == null || $("#lastName").val() == '' || $("#lastName").val().trim() == '') {
                /*$('#FullNameError').text('Please enter Full Name');*/
                alert("Please Enter LastName");
                return true;
                return;
            }
            if ($("#phone").val() == null || $("#phone").val() == '' || $("#phone").val().trim() == '') {
                /*$('#PhoneNumberError').text('Please enter PhoneNumber');*/
                alert("Please Enter Phone Number");
                return true;
                return;
            }
            //if ($("#City").val() == null || $("#City").val() == '' || $("#City").val().trim() == '') {
            //    $('#CityError').text('Please enter City');
            //    Error = true;
            //}
            //if ($("#State").val() == null || $("#State").val() == '' || $("#State").val().trim() == '') {
            //    $('#StateError').text('Please enter State');
            //    Error = true;
            //}
            //if ($("#AssignCoin").val() == null || $("#AssignCoin").val() == '' || $("#AssignCoin").val().trim() == '') {
            //    $('#AssignCoinError').text('Please enter Assign Coin');
            //    Error = true;
            //}
            if ($("#commission").val() == null || $("#commission").val() == '' || $("#commission").val().trim() == '') {
                /*$('#CommisionError').text('Please enter Commision');*/
                alert("Please Enter Commision");
                return true;
                return;
            }
            if ($("#exposure").val() == null || $("#exposure").val() == '' || $("#exposure").val().trim() == '') {
               /* $('#ExposureLimitError').text('Please enter Exposure Limit');*/
                alert("Please Enter Exposer Limit");
                return true;
                return;
            }
            return Error;
        }

        function saveRequest() {

            var validation = validationCheck();
            if (validation == true) {
                return false;
            }

            var FullName = $("#firstName").val() + " " + $("#lastName").val()

            const formData = new FormData();
            formData.append("RoleId", '@roleId');
            formData.append("Email", $("#email").val());
            formData.append("UserName", $("#userName").val());
            formData.append("FullName", FullName);
            formData.append("Password", $("#userPassword").val());
            formData.append("ConfirmPassword", $("#repeatPassword").val());
            formData.append("PhoneNumber", $("#phone").val());
            //formData.append("City", $("#City").val());
            //formData.append("State", $("#State").val());
            //formData.append("AssignCoin", $("#AssignCoin").val());
            formData.append("Commision", $("#commission").val());
            formData.append("ExposureLimit", $("#exposure").val());
             //formData.append("RollingCommission", $("#RollingCommission").prop("checked"));
             //if ($("#RollingCommission").prop("checked")) {
             //    formData.append(`RollingCommisionVm.Fancy`, $("#RollingCommision_Fancy").val());
             //    formData.append(`RollingCommisionVm.Matka`, $("#RollingCommision_Matka").val());
             //    formData.append(`RollingCommisionVm.Casino`, $("#RollingCommision_Casino").val());
             //    formData.append(`RollingCommisionVm.Binary`, $("#RollingCommision_Binary").val());
             //    formData.append(`RollingCommisionVm.SportBook`, $("#RollingCommision_SportBook").val());
             //    formData.append(`RollingCommisionVm.Bookmaker`, $("#RollingCommision_Bookmaker").val());
             //}
            let addRequestJson = {
                apiUrl: "@Url.Action("Register", "Account")",
                postData: formData
            }
            $(".loader").show();
            promiseAjaxPost.call(addRequestJson, false).then(
                (res) => {
                    $(".loader").hide();
                    if (res.IsSuccess && res.Status == 200) {
                        messagePopup.responseSuccess(res.Message).then(
                            (r) => { if (r == true) { location.reload(); } }
                        )
                    } else if (res.IsSuccess && res.Status == 208) {
                        mess
                        agePopup.responseWarning(res.Message);
                    } else {
                        messagePopup.responseError(res.Message);
                    }
                },
                (err) => {
                    messagePopup.error(err.statusText);
                }
            )
            return false;
        }

        function getUsersList() {
            const formData = new FormData();
            formData.append("UserStatus", $('#accountStatus').val());
            let getAircraftJson = {
                apiUrl: "@Url.Action("GetUsersList", "Home")",
                postData: formData,
                dataType: 'html'
            }
            $(".loader-1.loading-img").show();
            promiseAjaxPost.call(getAircraftJson, false).then(
                (res) => {
                    $(".loader-1.loading-img").hide();
                    $("#filterList").html(res);
                },
                (err) => {
                    messagePopup.error(err.statusText);
                }
            )
        }

    </script>
}
