@model List<RB444.Model.ViewModel.ActivityLogVM>
@{
    ViewData["Title"] = "Activity Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div style="display: none"><input type="password" autocomplete="new-password"></div>

    <script language="javascript" type="text/javascript">
        if (typeof (PageConfig) == 'undefined') {
            PageConfig = {};
        }
        PageConfig.CurrencyTypeName = 'PTH';
        PageConfig.currencySymbol = '';
        PageConfig.site = 1;
        PageConfig.balance = 0;
        PageConfig.agentLevel = 3;
        PageConfig.isSubAccount = false;
        PageConfig.ENABLE_SEPARATE_AGENT_PLAYER_LOGIN = true;
        PageConfig.userId = 'subhodip';

        $j(document).ready(function () {
            I18N.addResource({
                'msg.error.account.isSuspended': 'Account is suspended! Please contact your upline.'
            });

            AgentTopHandler.init();
            MenuHandler.init();
        });

    </script>


    <!-- Top end -->

    <div class="main_wrap">
        <!-- agent path -->
        <div class="agent_path">
            <ul id="agentPath" class="agent_path-L">

                <li id="path6" class="" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class="lv_0">
                            COM
                        </span>
                        <strong></strong>
                    </a>
                </li>

                <li id="path5" class="" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class="lv_1">
                            SS
                        </span>
                        <strong></strong>
                    </a>
                </li>

                <li id="path4" class="" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class="lv_2">
                            SUP
                        </span>
                        <strong></strong>
                    </a>
                </li>

                <li id="path3" class="last_li" style="">
                    <a href="javascript: void(0);">
                        <span class="lv_3">
                            MA
                        </span>
                        <strong>subhodip</strong>
                    </a>
                </li>

                <li id="path0" class="" style="display: none;">
                    <a href="javascript: void(0);">
                        <span class="lv_4">
                            PL
                        </span>
                        <strong></strong>
                    </a>
                </li>

                <ul class="account_pop" id="accountPop" style="">
                    <li id="popTmp" style="display: none;">
                        <a href=""></a>
                    </li>
                </ul>
            </ul>
        </div>
        <script language="JavaScript" type="text/javascript">
            PageConfig.userName = "subhodip";
            PageConfig.memberSite = "1";
            PageConfig.isMemberModule = false;
            PageConfig.pathObj = { "currencyName": "PTH", "site": 1, "nodeList": [{ "userType": 3, "userID": "subhodip" }] };
            (function () {
                PathHandler.init();
            })();
        </script>


        <!-- Agent Left Column -->







        <div class="col-left">

            <!-- Sub Menu and Path -->
            <div class="sub_path">

                <!-- Sub Menu -->
                <ul class="menu-list">

                    <li class="class">
                        Position
                    </li>


                    <li>
                        <a id="accountStatement" href="acount-deatil.html">
                            Account Statement
                        </a>
                    </li>


                    <li>
                        <a id="accountSummary" href="account-summry.html">
                            Account Summary
                        </a>
                    </li>



                    <li class="class">
                        Account Details
                    </li>
                    <li>
                        <a id="profile" href="profile.html">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a id="activityLog" href="@Url.Action("ActivityLog", "Account")" class="select">
                            Activity Log
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Center Column -->
        <!-- Center Column -->
        <div id="report" class="col-center report">
            <!-- Loading Wrap -->
            <div id="loading" class="loading-wrap" style="display: none;">
                <ul class="loading">
                    <li><img src="https://statics3.skyexch.bike/images/loading40.gif"></li>
                    <li>
                        Loading...
                    </li>
                    <br>
                    <li><span id="progress"></span></li>
                </ul>
            </div>

            <!-- Message -->
            <div id="message" class="message-wrap success">
                <a class="btn-close">Close</a>
                <p></p>
            </div>

            <script language="JavaScript" type="text/javascript">
                (function () {
                    $j('.btn-close').click(function () {
                        $j('#message').hide();
                    });
                })();
            </script>

            <h2>
                Activity Log
            </h2>

            <table style="display:none">
                <tbody>
                    <tr id="tempTr">
                        <td class="align-L" id="loginDate"></td>
                        <td class="align-L" id="loginMessage"><span class="green"></span></td>
                        <td id="ipAddress"></td>
                        <td id="isp"></td>
                        <td id="location"></td>
                        <td id="userAgentType"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Report Table -->
            <table class="table01">
                <tbody>
                    <tr>
                        <th width="15%" class="align-L">
                            Login Date &amp; Time
                        </th>
                        <th width="15%" class="align-L">
                            Login Status
                        </th>
                        <th width="12%">
                            IP Address
                        </th>
                        <th width="28%">
                            ISP
                        </th>
                        <th width="">
                            City/State/Country
                        </th>
                        <th width="">
                            User Agent Type
                        </th>
                    </tr>
                </tbody>
                <tbody id="content">
                    @if (Model != null && Model.Count() > 0)
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="tempTr">
                                <td hidden>@item.Id</td>
                                <td hidden>@i</td>
                                <td hidden>@item.UserId</td>
                                <td hidden>@item.UserName</td>
                                <td class="align-L" id="loginDate">@item.LoginDate</td>
                                <td class="align-L green" id="loginMessage">Login Success</td>
                                <td id="ipAddress">@item.IpAddress</td>
                                <td id="isp">@item.ISP</td>
                                <td id="location">@item.Address</td>
                                <td id="userAgentType">Browser</td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>

            <!-- Pages List -->


            <script type="text/javascript" src="/js/util/PageUtil.js?v=20230320_1679280600000"></script>
            <div>
                <ul style="display: none">
                    <li id="prev">
                        <a href="javascript:void(0);">
                            Prev
                        </a>
                    </li>
                    <li id="next">
                        <a href="javascript:void(0);">
                            Next
                        </a>
                    </li>
                    <li id="pageNumber"><a href="javascript:void(0);"></a></li>
                    <li id="more"><a href="javascript:void(0);">...</a></li>
                    <input type="text" id="goToPageNumber" onkeyup="return PageHandler.validatePageNumber(this)" maxlength="6" size="4">
                    <li><a id="goPageBtn">GO</a></li>
                </ul>

                <ul id="pageNumberContent" class="pages">
                    <li id="prev">
                        <a href="javascript:void(0);" class="disable" style="pointer-events: none;">
                            Prev
                        </a>
                    </li>
                    <li id="pageNumber"><a href="javascript:void(0);" class="select" style="pointer-events: none;">1</a></li>
                    <li id="next">
                        <a href="javascript:void(0);" class="disable" style="pointer-events: none;">
                            Next
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


</body>

</html>

@section PageJs{
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Al_datatable").DataTable();
            $(".dataTables_length").addClass("bs-select");
        });
    </script>
}

