@model List<RB444.Model.ViewModel.ActivityLogVM>
@{
    ViewData["Title"] = "ActivityLog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <h3 class="card-label">
                Activity Log
            </h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover table-bordered table-head-custom" id="Al_datatable">
            <thead style="background-color: #1e1e2d;">
                <tr>
                    <th hidden>Id</th>
                    <th>S.No</th>
                    <th>User</th>
                    <th>User Name</th>
                    <th>Login Date &amp; Time</th>
                    @*<th>Login Status</th>*@
                    <th>IP Address</th>
                    <th>ISP</th>
                    <th>City/State/Country</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>@item.Id</td>
                            <td>@i</td>
                            <td>@item.UserId</td>
                            <td>@item.UserName</td>
                            <td>@item.LoginDate</td>
                            @*<td>
                                    <span class="login-success">@item.s</span>
                                </td>*@
                            <td>@item.IpAddress</td>
                            <td>@item.ISP</td>
                            <td>@item.Address</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section PageJs{
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Al_datatable").DataTable();
            $(".dataTables_length").addClass("bs-select");
        });
    </script>
}

